@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


:root {
  /*--width: clamp(640px * 0.9, 90vw, 1080px) */
  --width: 1080px;

  color: rgba(255, 255, 255, 0.9);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Chakra Petch', sans-serif;

  --cross-size: 21px;
  --border-color: hsla( 0,0%,12% ,1);
  --cross-color: hsla( 0,0%,53% ,1);

  --subtitle-color: rgb(140, 140, 140);
  --highlight-color: rgb(3, 201, 136);

  --header-color: rgb(233, 233, 233);
  --tech-grid-rows: 2;
  --tech-grid-columns: 6;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  box-sizing: border-box;

  /* min-width: 320px;
  min-height: 100vh; */
}

h1{
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
}

#app {
  margin: 0 auto;
  padding: 0;
  width: var(--width); 
  min-width: 1080px; 

  min-height: 100vh;
  position: relative;
}

/* scroll-bar starts here */
body::-webkit-scrollbar{
  width: 0.5rem;
}

body::-webkit-scrollbar-track{
  background: var(--border-color);
}

body::-webkit-scrollbar-thumb{
  background: hsla( 0,0%,25% ,1);;
}
/* scroll-bar ends here */


/* Cross */
.cross{
  height: var(--cross-size);
  width: var(--cross-size);
  position: absolute;
  translate: -50% -50%;
}
.cross-top{
  inset: 0 0;
}
.cross-bottom{
  inset: 100% 100%;
}
.cross-half-vertical{
  position: absolute;
  height: var(--cross-size);
  width: calc(var(--cross-size) / 2);
  border-right: 1px solid var(--cross-color);
}
.cross-half-horizontal{
  position: absolute;
  height: calc(var(--cross-size) / 2);
  width: var(--cross-size);
  border-bottom: 1px solid var(--cross-color);
}
/* Cross */

/* Section */
section{
  border: 1px solid var(--border-color);
  position: relative;
  padding: 40px;
}
/* Section */

.gap{
  height: calc(var(--cross-size));
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
}

/* Hero */
.hero-container{
  display: flex;
  align-items: end;
  gap: 10px;
}

#hero{
  margin-top: 80px;
  display: flex;
  gap: 40px;
  position: relative;
  height: fit-content;
}
#hero-header{
  line-height: 1.2;
}
#hero-subtitle{
  font-size: 1.2em;
}


.hero-subtitle-span{
  font-family: 'Oswald', sans-serif;
  translate: 0 -100%;
  position: absolute;
}
.hero-subtitle-span-down{
  transform-origin: bottom;
}
.hero-subtitle-span-up{
  transform-origin: top;
}


.hero-content{
  /* background-color: red; */
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#hero-img{
  /* width: clamp(200px, 40vh, 300px); */
  width: 350px;
  height: 100%;
  filter: saturate(0.95) opacity(0.95);
  transition: all 200ms ease-in;
  border-radius: 12px;
  border: 1px solid var(--border-color);
}
#hero-img:hover{
  filter: saturate(1) opacity(1);
}
/* Hero */

/* About */
.about-head{
  margin-top: 20px;
  border: 1px solid var(--border-color);
  padding: 16px;
  border-radius: 12px 12px 0 0;
  border-bottom: none;
  /* color: var(--subtitle-color); */
  display: flex;
  gap: 8px;
  align-items: center;
}
.about-head img{
  height: 1.12em;
  filter: saturate(0);
}

.about-head-content{
  font-size: 1em;
  flex: 1;
}
.window-icon{
  height: 60%;
  /* width: 16px; */
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 50%;
}

.about-content{
  height: 100%;
  background-color: rgb(10, 10, 10);
  padding: 20px 30px;
  border: 1px solid var(--border-color);
  border-radius: 0 0 12px 12px;
  color: var(--subtitle-color);
  line-height: 1.5;
  position: relative;
}

.about-content-line{
  padding-left: 1.5em;
  position: relative;
  transition: filter 200ms ease-in;
  text-align: right;
}
.about-content-line::before{
  content: attr(index);
  width: 2em;
  position: absolute;
  translate: -3em 0;
  text-align: right;
  color: rgba(255, 255, 255, 0.78)
}
.about-code-comment{
  color: rgb(81, 136, 66);
}

.editor-pointer{
  color: rgba(255, 255, 255, 0.87);
  transition: all 0s linear;
  animation: editor-pointer-animation 1s infinite linear;
}

@keyframes editor-pointer-animation {
  0%{
    opacity: 1;
  }
  49%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  99%{
    opacity: 0;
  }
}
/* About */

/* Edu and Exp */
#edu-and-exp{
  padding: 0;
  height: 500px;
  display: flex;
}
.vignette{
  background: linear-gradient(transparent 70%, black);
  height: 100%;
  position: absolute;
  width: 100%;
  transition: all 200ms ease-in;
  pointer-events: none;
}
.edu-and-exp-container:hover > .vignette{
  opacity: 0;
}
.edu-and-exp-container:hover > .edu-and-exp-content{
  /* color: rgba(255, 255, 255, 0.6); */
  opacity: 1;
}

#education{
  position: relative;
  margin: 24px 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.edu-and-exp-content{
  overflow-y: scroll;
  width: 100%;
  margin: 20px 0;
  padding-right: 40px;
  color: var(--subtitle-color);
  transition: opacity 200ms ease-in;
  opacity: 0.8;
}
.edu-and-exp-content::-webkit-scrollbar{
  width: 0.4rem;
}

.edu-and-exp-content::-webkit-scrollbar-track{
  background: var(--border-color);
}

.edu-and-exp-content::-webkit-scrollbar-thumb{
  background: hsla( 0,0%,25% ,1);
}

.vertical-divider{
  border-left: 1px solid var(--border-color);
  width: 0px;
  height: 100%;
}
.edu-and-exp-container{
  position: relative;
  margin: 24px 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.subtitle-bold{
  font-size: 1.12em;
  color: rgba(255, 255, 255, 0.9);
}

.highlight{
  color: var(--highlight-color);
}
/* Edu and Exp */

/* Tech Stack */
#tech{
  position: relative;
  height: calc(var(--width) / var(--tech-grid-columns) * var(--tech-grid-rows));
  width: 100%;
  padding: 0;
  box-sizing: border-box;

  display: grid;
  grid-template-rows: repeat(var(--tech-grid-rows), 1fr);
  grid-template-columns: repeat(var(--tech-grid-columns), 1fr);
  border: none;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);

  margin-bottom: 80px;
}

#tech-header{
  grid-area: span 1 / span 2;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);

  color: var(--header-color);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;

  font-size: clamp(1.75rem, 2vw, 2rem);
  font-weight: 800;
  padding-left: 12.5%;

}
#tech-header p {
  margin: 0;
}

#tech-header-container{
  height: clamp(1.75rem, 2vw, 2rem);
}
.tech-header-span{
  position: absolute;
}

.tech-header-span-down{
  transform-origin: bottom;
}
.tech-header-span-up{
  transform-origin: top;
}


.tech-icon{
  box-sizing: border-box;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  grid-area: span 1 / span 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tech-img{
  position: absolute;
  width: 40%;
  height: 40%;
  pointer-events: none;
}

.tech-redirect-container{
  grid-area: -1/-1/-2/-2;
}
.tech-redirect{
  position: relative;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid var(--border-color);
  transition: all 200ms ease-in;
  cursor: pointer;
}
.tech-redirect:hover{
  background-color: var(--border-color);
}
.tech-redirect p{
  scale: 1.5 2;
  translate: 63% -15%;
  pointer-events: none;
}
/* Tech Stack */