@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


:root {
  --width: clamp(640px * 0.9, 90vw, 1080px);

  color: rgba(255, 255, 255, 0.9);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --cross-size: 21px;
  --border-color: hsla( 0,0%,12% ,1);
  --cross-color: hsla( 0,0%,53% ,1);

  --subtitle-color: rgb(140, 140, 140);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  box-sizing: border-box;
  /* min-width: 320px;
  min-height: 100vh; */
}
*{
  font-family: 'Chakra Petch', sans-serif;
}

h1{
  margin: 0;
}

#app {
  margin: 0 auto;
  padding: 0;
  width: var(--width);  
  min-height: 100vh;
}

/* scroll-bar starts here */
body::-webkit-scrollbar{
  width: 0.5rem;
}

body::-webkit-scrollbar-track{
  background: var(--border-color);
}

body::-webkit-scrollbar-thumb{
  background: hsla( 0,0%,25% ,1);;
}
/* scroll-bar ends here */


/* Cross */
.cross{
  height: var(--cross-size);
  width: var(--cross-size);
  position: absolute;
  translate: -50% -50%;
}
.cross-top{
  inset: 0 0;
}
.cross-bottom{
  inset: 100% 100%;
}
.cross-half-vertical{
  position: absolute;
  height: var(--cross-size);
  width: calc(var(--cross-size) / 2);
  border-right: 1px solid var(--cross-color);
}
.cross-half-horizontal{
  position: absolute;
  height: calc(var(--cross-size) / 2);
  width: var(--cross-size);
  border-bottom: 1px solid var(--cross-color);
}
/* Cross */

/* Section */
section{
  border: 1px solid var(--border-color);
  position: relative;
  padding: 40px;
}
/* Section */

.gap{
  height: calc(var(--cross-size));
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

/* Hero */
.hero-container{
  display: flex;
  align-items: end;
  gap: 10px;
}

#hero{
  margin-top: 40px;
  display: flex;
  gap: 40px;
  position: relative;
  height: fit-content;
}
#hero-header{
  font-size: 2.5em;
  line-height: 1.2;
  font-family: 'Oswald', sans-serif;
}
#hero-subtitle{
  font-size: 1.2em;
}


.hero-subtitle-span{
  font-family: 'Oswald', sans-serif;
  translate: 0 -100%;
  position: absolute;
}
.hero-subtitle-span-down{
  transform-origin: bottom;
}
.hero-subtitle-span-up{
  transform-origin: top;
}


.hero-content{
  /* background-color: red; */
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#hero-img{
  /* width: clamp(200px, 40vh, 300px); */
  width: 350px;
  height: 100%;
  filter: saturate(0.95) opacity(0.95);
  transition: all 200ms ease-in;
  border-radius: 12px;
}
#hero-img:hover{
  filter: saturate(1) opacity(1);
}
/* Hero */

/* About */
.about-head{
  margin-top: 20px;
  border: 1px solid var(--border-color);
  padding: 16px;
  border-radius: 12px 12px 0 0;
  border-bottom: none;
  /* color: var(--subtitle-color); */
  display: flex;
  gap: 8px;
  align-items: center;
}
.about-head img{
  height: 1.12em;
  filter: saturate(0);
}

.about-head-content{
  font-size: 1em;
  flex: 1;
}
.window-icon{
  height: 60%;
  /* width: 16px; */
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 50%;
}


.about-content{
  height: 100%;
  background-color: rgb(10, 10, 10);
  padding: 20px 30px;
  border: 1px solid var(--border-color);
  border-radius: 0 0 12px 12px;
  color: var(--subtitle-color);
  line-height: 1.5;
}

/* About */